.align {
    margin-top: 10px;
    padding-left: 30px;
}

.buffer-top {
    margin-top: 15px;
}

.buffer-both {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bordering {
  border-top: solid 1px rgb(222, 222, 222);
  margin-top: 20px;
  padding-top: 20px;
  ///margin-bottom: 20px;
}

.div-photo {
  //width:
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.circle-img {
  border-radius: 50%;
  border: solid 2px gray;
  width: auto;
  height: 200px;
  margin: 0 auto;
}