.align {
  margin-top: 10px;
  padding-left: 30px; }

.buffer-top {
  margin-top: 15px; }

.buffer-both {
  margin-top: 10px;
  margin-bottom: 10px; }

.bordering {
  border-top: solid 1px #dedede;
  margin-top: 20px;
  padding-top: 20px; }

ul li {
  list-style-type: none; }

.turn-p {
  margin-top: -10px; }